.idea
.git
.env
.env.dev
.env.sample
.nyc_output
.gitignore
.dockerignore
node_modules
package-lock.json
npm-debug.log
client-side
test-coverage
test-reports
Dockerfile
docker-compose.yml
docs
wiki
LICENSE
mean-stack-web-app.iml
README.md
