<<<<<<< HEAD
#title_home{
    width: 6em;
    text-align: center;
  }
  
#home{
    width: 70%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
=======
/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
>>>>>>> 232003e6f3defb68e7d4f36b377bc0b6083a1d05
