<div class="main container">
  <h1 class="title_home font-weight-bolder">Acceuil</h1>
  <p class="text-justify text-center">
    Bienvenu(e) sur le projet d'intégration du groupe 3

  </p>
  <p class="text-justify text-center">
    Testing angular build on heroku, consectetur adipiscing elit. Aenean varius molestie pulvinar. Ut luctus, eros ut
    bibendum
    sollicitudin, justo lacus consequat dolor, et fringilla erat arcu in neque. Cras ornare varius mi id eleifend. Donec
    non consequat est.

    Vivamus nec dolor suscipit est dictum aliquam non at libero. In pretium tellus quam, eu tristique ex convallis ac.
    Duis at turpis a quam finibus faucibus vitae at risus.

  </p>
</div>