<div class="main container ">
  <h1 class="title_home font-weight-bolder">Accueil</h1>
  <p class="text-justify text-center">
    Bienvenu(e) sur le projet d'intégration du groupe 3

  </p>
  <p class="text-justify text-center">
    Testing angular build on heroku, consectetur adipiscing elit. Aenean varius molestie pulvinar. Ut luctus, eros ut
    bibendum
    sollicitudin, justo lacus consequat dolor, et fringilla erat arcu in neque. Cras ornare varius mi id eleifend. Donec
    non consequat est.

    Vivamus nec dolor suscipit est dictum aliquam non at libero. In pretium tellus quam, eu tristique ex convallis ac.
    Duis at turpis a quam finibus faucibus vitae at risus.
  </p>
</div>


<div class="container">

  <!-- Grid row -->
  <div class="row blocks">

    <!-- Grid column -->
    <div class="col-lg-3 col-md-6">

      <div class="block">
        <div class="overlay">
          <i class=""></i>
        </div>
        <img src="../../../../assets/img/1.png" class="img-fluid" alt="Image" />
      </div>

    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-3 col-md-6">

      <div class="block">
        <div class="overlay">
          <i class=""></i>
        </div>
        <img src="../../../../assets/img/2.png" class="img-fluid" alt="Image" />
      </div>

    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-3 col-md-6">

      <div class="block">
        <div class="overlay">
          <i class="fas fa-apple-alt blue-iris fa-3x"></i>
        </div>
        <img src="../../../../assets/img/3.png" class="img-fluid" alt="Image" />
      </div>

    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-3 col-md-6">

      <div class="block">
        <div class="overlay">
          <i class="fas fa-baseball-ball mimosa fa-3x tigerlily"></i>
        </div>
        <img src="../../../../assets/img/4.png" class="img-fluid" alt="Image" />
      </div>

    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->

</div>
