<div class="row connexion">
  <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
    <div class="card card-signin my-5">
      <div class="card-body">
        <div class="note bg-dark">
          <h3 id="formTitle" class="rounded font-weight-bolder "> Connection </h3>
        </div>
        <form class="form-signin" #f="ngForm" (ngSubmit)="onLogin(f)" novalidate>
          <div class="form-label-group">
            <label for="inputEmail">Pseudonyme</label>
            <input type="email" id="inputEmail" class="form-control" placeholder="Adresse Email"
                   required autofocus name="mail" [(ngModel)]="pseudo" name="pseudo">
          </div>
          <div class="form-label-group">
            <label for="inputPassword" style="margin-top: 10px;">Mot de passe</label>
            <input type="password" id="inputPassword" class="form-control" placeholder="Mot de passe" required [(ngModel)]="password" name="password">
          </div>
          <div class="custom-control custom-checkbox mb-3">
            <input type="checkbox" class="custom-control-input" id="customCheck1">
            <label class="custom-control-label" for="customCheck1">Se souvenir du mot de passe</label>
          </div>

          <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Se Connecter</button>
          <hr class="my-4">
          <div class="ml-auto">
            <small class="">
              <a class="nav-link font-italic"
                 style="text-decoration: underline; color: #343A40"
                 [routerLink]="['/register']">Pas de compte ? Inscrivez-vous</a>
            </small>
          </div>
        </form>
        <button (click)="validateLogin()">validateSubmit</button>
      </div>
    </div>
  </div>
</div>
