<div class="d-flex justify-content-center align-items-center">
    <div class="container m-5 p-5 border border-bottom">
    <h1 class="d-flex justify-content-center font-weight-bold">La réserve </h1>
    <!-- Filter Input -->
    <div class="container">
        <div class="row justify-content-center">
            <label for="search"></label>
            <input class="form-control" type="search" id="search" style="width: 12rem;"
                name="search" placeholder="Filter" aria-label="Search">
        </div>
    </div>
    <button type="button" class="btn btn-danger consultMode" (click)="changeModeGestion()">mode Gestion</button>
    <button type="button" class="btn btn-success gestionMode" (click)="changeModeConstultation()">mode Consultation</button>
    <!-- User Table -->
    <div class="container text-center ">
        
        <br>
        <!-- Table  -->
        <table class="table table-bordered table-responsive-md table-responsive-lg
      table-responsive-sm table-striped" id="testTable">
            <!-- Table head -->
            <thead class="thead-dark">
                <tr>

                    <!-- group number -->
                    <th scope="col"># <i class="fa fa-sort-numeric-asc" aria-hidden="true"></i></th>
                    <!-- groupName -->
                    <th id="productName" style="cursor: pointer">Nom du produit</th>
                    <!-- Role -->
                    <th id="quantity" style="cursor: pointer">Quantité</th>
                    <!-- Action -->
                    <th id="action" class="gestionMode" style="cursor: pointer">Action</th>

                </tr>
            </thead>
            <!-- Table head -->

            <!-- Table body -->
            <tbody id="demo">
                <ng-container *ngFor="">

                    <tr #groupId id="{{group['groupId']}}">

                        <td class="text-monospace font-italic font-weight-bold"> {{i + 1}} </td>

                        <!-- product name td  -->
                        <td onmousemove="this.style.color='green';
                        this.style.backgroundColor = 'rgba(0, 255, 0, 0.3)'" onmouseout="this.style.backgroundColor = ''; this.style.color=''">
                            <a #productName
                                [routerLinkActiveOptions]="{ exact: true }" style="cursor: pointer; color: black"
                                title="View this group details" onmousemove="this.style.fontSize= '2.9vh'" onmouseout="this.style.backgroundColor = ''; this.style.color='black';
                                this.style.fontSize= ''"
                                class="text-monospace font-italic font-weight-bold">
                                <!--{{group['groupName']}} -->
                            </a>
                        </td>

                        <!-- Quantity of a product in Reserve td  -->
                        <td class="text-monospace font-italic font-weight-bold"> <!--{{product['productQuantity'].quantity}}--> </td>

                        <!-- Action td  -->
                        <td class="text-monospace font-italic">
                            <!-- todo  -->
                        </td>
                    </tr>
                </ng-container>
            </tbody>
            <!-- Table body -->
        </table>
    </div>
    </div>
</div>