<!-- popup -->

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Modifier un produit</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" id="modalForm">
    <form>
      <div class="form-group">
        <label for="recipient-name" class="col-form-label">Quantité</label>
        <div class="col-10" id="date-management">
          <input class="form-control" type="number" value="42">
        </div>
      </div>
      <div class="form-group">
        <label for="recipient-name" class="col-form-label">Date d'expiration</label>
        <div class="col-10" id="expiration-management">
          <input class="form-control" type="number" value="42">
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('cancel')">Annuler</button>
    <button type="submit" class="btn btn-primary">Modifier</button>
  </div>

</ng-template>

<div class="custom-control custom-switch">
  <button type="button" class="btn btn-outline-primary" id="customSwitches" (click)="isCollapsed = !isCollapsed"
    [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample"> Changement de mode </button>
</div>
<br>
<div *ngIf="isCollapsed" class="container mb-4">
  <h6 class="text-monospace font-italic font-weight-bolder">
    <i class="fa fa-info-circle" aria-hidden="true" style="color: green"></i> mode Consultation</h6>
</div>
<div *ngIf="!isCollapsed" class="container mb-4">
  <h6 class="text-monospace font-italic font-weight-bolder">
    <i class="fa fa-info-circle" aria-hidden="true" style="color: blue"></i> mode Management</h6>
</div>
<br>
<!--add list-->
<div *ngIf="reserveArray.length !== 0" class="container mb-4 addFromList " id="collapseExample"
  [ngbCollapse]="isCollapsed">
  <div class="row">
    <div class="col-12">
      <div class="table-responsive">
        <!--Table-->
        <table *ngIf="reserveArray" class="table table-striped table-bordered">

          <!--Table head-->
          <thead class="font-weight-bold thead-dark">
            <tr>
              <!-- group number -->
              <th class="text-monospace font-italic"><input type="checkbox" [(ngModel)]="masterSelected"
                  (change)="checkUncheckAll()"></th>
              <th class="text-monospace font-italic">Produit</th>
              <th class="text-monospace font-italic">Marque</th>
              <th class="text-monospace font-italic">Quantité</th>
              <th class="text-monospace font-italic">Jours Restant</th>
              <th class="text-monospace font-italic">Action</th>
            </tr>
          </thead>
          <!--Table head-->

          <!-- Table body -->
          <tbody *ngIf="tempReserveArray" id="demos">
            <ng-container *ngFor="let reserve of tempReserveArray index as i">

              <tr *ngIf="!reserve['valid']" class="bg-warning">
                <td><input type="checkbox" ng-checked="checkboxes" [(ngModel)]="reserve.isSelected"
                    (change)="isAllSelected()"></td>
                <th class="text-monospace font-italic" scope="row">{{reserve['product_name'] | truncate:[9]}} </th>
                <th class="text-monospace font-italic" scope="row">{{reserve['product_brand']}} </th>
                <th class="text-monospace font-italic" scope="row">{{reserve['quantity']}} </th>
                <th class="text-monospace font-italic" scope="row">{{reserve['expiringIn']}} </th>
                <td class="text-monospace font-italic">
                  <span>
                    <!-- update reserve icons  -->
                    <a>
                      <!-- update reserve icon button-->
                      <button class="btn btn-primary btn-sm rounded" data-toggle="modal" data-target="#updateGroup"
                        data-whatever="@mdo" type="button" data-placement="top" title="Edit"
                        (click)="open(content,reserve)">
                        <i class="fa fa-edit" aria-hidden="true"></i>
                      </button>
                    </a>

                    <!-- delete reserve icon -->
                    <a class="ml-3">

                      <!-- delete reserve icon button-->
                      <button class="btn btn-danger btn-sm rounded" data-toggle="modal" data-target="#deleteGroup"
                        data-whatever="@mdo" type="button" data-placement="top" title="Delete">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                      </button>
                    </a>
                  </span>
                </td>
              </tr>
            </ng-container>
          </tbody>
          <!-- Table body -->
        </table>
        <!--Table-->
      </div>
    </div>
  </div>
</div>

<div *ngIf="reserveArray.length !== 0" class="container mb-4" id="collapseExample" [ngbCollapse]="!isCollapsed">
  <div class="row">
    <div class="col-12">
      <div class="table-responsive">

        <!--Table-->
        <table *ngIf="reserveArray" class="table table-striped table-bordered">

          <!--Table head-->
          <thead class="font-weight-bold thead-dark">
            <tr>
              <!-- group number -->
              <th class="text-monospace font-italic">Produit</th>
              <th class="text-monospace font-italic">Marque</th>
              <th class="text-monospace font-italic">Quantité</th>
              <th class="text-monospace font-italic">Jours Restant</th>
              <th class="text-monospace font-italic">Action</th>
            </tr>
          </thead>
          <!--Table head-->

          <!-- Table body -->
          <tbody *ngIf="reserveArray" id="demos">
            <ng-container *ngFor="let reserve of reserveArray index as i">

              <tr *ngIf="reserve['valid']">
                <th class="text-monospace font-italic" scope="row">{{reserve['product_name'] | truncate:[9]}} </th>
                <th class="text-monospace font-italic" scope="row">{{reserve['product_brand']}} </th>
                <th class="text-monospace font-italic" scope="row">{{reserve['quantity']}} </th>
                <th class="text-monospace font-italic" scope="row">{{reserve['expiringIn']}} </th>
                <td class="text-monospace font-italic">

                  <span>
                    <!-- update reserve icons  -->
                    <a>
                      <!-- update reserve icon button-->
                      <button class="btn btn-primary btn-sm rounded" data-toggle="modal" data-target="#updateGroup"
                        data-whatever="@mdo" type="button" data-placement="top" title="Edit"
                        (click)="open(content,reserve)">
                        <i class="fa fa-edit" aria-hidden="true"></i>
                      </button>
                    </a>

                    <!-- delete reserve icon -->
                    <a class="ml-3">

                      <!-- delete reserve icon button-->
                      <button class="btn btn-danger btn-sm rounded" data-toggle="modal" data-target="#deleteGroup"
                        data-whatever="@mdo" type="button" data-placement="top" title="Delete">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                      </button>
                    </a>
                  </span>
                </td>
              </tr>
            </ng-container>
          </tbody>
          <!-- Table body -->
        </table>
        <!--Table-->
      </div>
    </div>
  </div>
</div>


<!--No reserve list div-->
<div *ngIf="reserveArray.length === 0" class="container mb-4">
  <h6 class="text-monospace font-italic font-weight-bolder">
    <i class="fa fa-info-circle" aria-hidden="true" style="color: green"></i>
    Ce groupe n'a aucun élément dans sa reserve pour le moment !
  </h6>
</div>
<hr>