<div class="jumbotron text-center">
  <h1>LEARN ENGLISH ONLINE </h1>
  <p class="lead">
    Welcome to our application
  </p>

  <div>
    <a class="btn btn-primary" [routerLink]="['/register']">Register</a>
    <p></p>
    <a class="btn btn-secondary" [routerLink]="['/login']">Login</a>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h3 style="margin-left: 10px">Learn To Speak English</h3>
    <p style="margin-left: 10px">Learn how to speak proper English with a combination of our AI powered pronunciation
      exercises and dialogues made by our English experts. You can also try our
      conversation exercises and practice speaking with English speakers from our
      online community.
    </p>
  </div>

  <div class="col-md-4">
    <h3>Teach Kids Or Adults </h3>
    <p>We offer both positions when you decide to teach from home with us. We offer a range
      lessons for two age groups of students, varying from conversational group classes to
      private and tailored one-to-one lessons.</p>
  </div>

  <div class="col-md-4">
    <h3>English Online</h3>
    <p style="margin-right: 10px">Teaching English online is a great alternative to teaching abroad. The flexibility,
      comfort, and freedom gives teachers from the US and UK a chance to interact with
      international students while working from home.</p>
  </div>
</div>
<br>
<br>
<app-footer></app-footer>
