<br>
<div class="container register-form col-lg-7 col-md-8 col-sm-8 rounded">

  <div class="form rounded col-12">
    <div *ngIf="alert === 201" class="alert alert-dismissible alert-success">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong id="successMessage">L'utilisateur a bien été créé !</strong>
    </div>
    <div *ngIf="alert === 409 || alert === 401" class="alert alert-dismissible alert-danger">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong id="errorMessage">Création échouée !</strong>
    </div>
    <div class="note bg-dark">
      <h2 id="formTitle" class="font-weight-bolder mb-3">Créer un compte</h2>
      <p class="font-weight-bold">C'est gratuit et ouvert à tous!</p>
    </div>

    <form #signUpForm="ngForm"
          class="form-content text-center col-md-12 rounded my-form" (submit)="onRegisterSubmit()">

      <!-- firstName -->
      <div class="row">
        <div class="justify-content-center col-6">
          <label for="fistNameInput">
          </label>
          <input #fistNameInput="ngModel"
                 [class.is-invalid]="fistNameInput.invalid && fistNameInput.touched"
                 [class.is-valid]="!(fistNameInput.invalid && fistNameInput.untouched)"
                 class="form-control" type="text" id="fistNameInput"
                 [(ngModel)]="firstName" name="firstName" minlength="4" maxlength="9"
                 placeholder="Nom" required>
          <div *ngIf="fistNameInput.errors && (fistNameInput.invalid ||
                        fistNameInput.touched)">
            <small id="fistNameError1" class="text-danger" *ngIf="fistNameInput.errors.minlength">
              {{fistNameInput.value}} la longueur minimale est 4
            </small>
            <small id="fistNameError2" class="text-danger"
                   *ngIf="fistNameInput.errors.required
                      && fistNameInput.touched">Un prénom est requis</small>
          </div>
        </div>

        <!-- LastName -->
        <div class="justify-content-center col-6">
          <label for="lastNameInput">
          </label>
          <input #lastNameInput="ngModel"
                 [class.is-invalid]="lastNameInput.invalid && lastNameInput.touched"
                 [class.is-valid]="!(lastNameInput.invalid && lastNameInput.untouched)"
                 class="form-control" type="text" id="lastNameInput"
                 [(ngModel)]="lastName" name="lastName" minlength="4" maxlength="9"
                 placeholder="Prénom" required>
          <div *ngIf="lastNameInput.errors && (lastNameInput.invalid ||
                        lastNameInput.touched)">
            <small id="lastNameError1" class="text-danger" *ngIf="lastNameInput.errors.minlength">
              {{lastNameInput.value}} la longueur minimale est 4
            </small>
            <small id="lastNameError2" class="text-danger"
                   *ngIf="lastNameInput.errors.required
                      && lastNameInput.touched">Un prénom est requis</small>
          </div>
        </div>
      </div>

      <!-- Username -->
      <div class="row">
        <div class="justify-content-center col-6">
          <label for="username">
          </label>
          <input #usernameInput="ngModel"
                 [class.is-invalid]="usernameInput.invalid && usernameInput.touched"
                 [class.is-valid]="!(usernameInput.invalid && usernameInput.untouched)"
                 class="form-control" type="text" id="username"
                 [(ngModel)]="username" name="username" minlength="4" maxlength="9"
                 placeholder="Pseudonyme" required>
          <div *ngIf="usernameInput.errors && (usernameInput.invalid ||
                        usernameInput.touched)">
            <small id="usernameError1" class="text-danger" *ngIf="usernameInput.errors.minlength">
              {{usernameInput.value}} la longueur minimale est 4
            </small>
            <small id="usernameError2" class="text-danger"
                   *ngIf="usernameInput.errors.required
                      && usernameInput.touched">Un pseudonyme est requis</small>
          </div>
        </div>

        <!-- Email -->
        <div class="justify-content-center col-6">
          <label for="inputEmail">
          </label>
          <input #emailInput="ngModel"
                 pattern="^[aA-zZ0-9._%+-]+@[a-z0-9.-]+\.[aA-zZ]{2,4}$"
                 [class.is-invalid]="emailInput.invalid && emailInput.touched"
                 [class.is-valid]="!(emailInput.invalid && emailInput.untouched)"
                 class="form-control" type="email" id="inputEmail"
                 [(ngModel)]="email" name="email"
                 placeholder="Adresse mail" required>
          <div *ngIf="emailInput.errors && (emailInput.invalid ||
                        emailInput.touched)">
            <small id="emailInvalid" class="text-danger" *ngIf="emailInput.errors.pattern">
              {{emailInput.value}} n'est pas un email valide
            </small>
            <small id="emailRequired" class="text-danger" *ngIf="emailInput.errors.required
                      && emailInput.touched">Une adresse email est requise</small>
          </div>
        </div>
      </div>

      <!-- password -->
      <div class="row">
        <div class="justify-content-center col-6">
          <label for="inputPassword"></label>
          <input #passwordInput="ngModel"
                 [class.is-invalid]="passwordInput.invalid && passwordInput.touched"
                 [class.is-valid]="!(passwordInput.invalid && passwordInput.untouched)"
                 class="form-control" type="password" id="inputPassword"
                 [(ngModel)]="password" name="password"
                 placeholder="Mot de passe" required>
          <small id="passwordRequired" class="text-danger" [class.d-none]="passwordInput.valid ||
          passwordInput.untouched">Un mot de passe est requis</small>
        </div>
        <!-- confirm password -->
        <div class="justify-content-center col-6">
          <label for="PasswordConfirm" class="col-form-label"></label>
          <input #inputConfirmPassword="ngModel" pattern="{{passwordInput.value}}"
                 [class.is-invalid]="inputConfirmPassword.invalid &&
                   inputConfirmPassword.touched"
                 [class.is-valid]="!(inputConfirmPassword.invalid &&
                   inputConfirmPassword.untouched)"
                 class="form-control" type="password" id="PasswordConfirm"
                 [(ngModel)]="confirmPassword" name="confirmPassword"
                 placeholder="Confirmez votre mot de passe" required>

          <div *ngIf="inputConfirmPassword.errors && (inputConfirmPassword.invalid ||
                        inputConfirmPassword.touched)">
            <small id="passwordMatchError" class="text-danger"
                   *ngIf="inputConfirmPassword.errors.pattern">Les mots de passe ne correspondent pas</small>
            <small id="confirmPasswordError" class="text-danger" *ngIf="inputConfirmPassword.errors.required
                      && inputConfirmPassword.touched">Veuillez confirmer votre mot de passe</small>
          </div>
        </div>
      </div>
      <br>

      <small class="font-italic">
        <i class="fa fa-info-circle" aria-hidden="true" style="color: green"></i>
        Un compte non-vérifié est supprimé après une semaine.
      </small>

      <!-- sign up buttton -->
      <div class="d-flex">
        <div>
          <button [disabled]="signUpForm.form.invalid"
                  class="btn btn-secondary btn-rounded
                  text-monospace font-italic font-weight-bolder" id="submitBtn"
                  type="submit">S'inscrire
          </button>
        </div>
        <div class="ml-auto">
          <small class="">
            <a class="nav-link font-italic"
               style="text-decoration: underline; color: #343A40"

               [routerLink]="['/login']">Déjà un compte ? Connectez-vous</a>
          </small>
        </div>
      </div>
    </form>
  </div>
</div>

