<div class="d-flex flex-row flex-wrap justify-content-center page">
  <div class="d-flex flex-column mx-3">
    <img src="../../../../assets/0.jpg" style="width: 15em;" class="figure-img img-fluid rounded"
         alt="A generic square placeholder image with for a profile picture.">
  </div>
  <div class="d-flex flex-column mx-3 align-self-center">
    <h1 class="mt-2 mb-2">james007</h1>
    <div class="mb-2">
      <span class="font-weight-bold">Nom : </span> <span>James</span>
    </div>
    <div class="mb-2">
      <span class="font-weight-bold">Prénom : </span> <span>Robert</span>
    </div>
    <div class="mb-2">
      <span class="font-weight-bold">Email : </span> <span>james@gmail.com</span>
    </div>
    <div class="mb-2">
      <span class="font-weight-bold">Mot de passe : ••••••••</span>
    </div>
  </div>
</div>

<div class="d-flex flex-row justify-content-center mt-2" >
  <button type="button" class="btn btn-primary">Modifier mon profil</button>
</div>

<div class="sk-fading-circle">
  <div class="sk-circle1 sk-circle"></div>
  <div class="sk-circle2 sk-circle"></div>
  <div class="sk-circle3 sk-circle"></div>
  <div class="sk-circle4 sk-circle"></div>
  <div class="sk-circle5 sk-circle"></div>
  <div class="sk-circle6 sk-circle"></div>
  <div class="sk-circle7 sk-circle"></div>
  <div class="sk-circle8 sk-circle"></div>
  <div class="sk-circle9 sk-circle"></div>
  <div class="sk-circle10 sk-circle"></div>
  <div class="sk-circle11 sk-circle"></div>
  <div class="sk-circle12 sk-circle"></div>
</div>
