<app-min-nav-bar></app-min-nav-bar>

<!-- All questions text -->
<div *ngIf="questions.qns; else noquestions">
  <br>

  <div class="d-flex">

    <h3 class="mb-4 font-weight-bold ml-5">
      All Questions ({{(questions.qns).length}})
    </h3>


    <div class="ml-auto">

      <!-- Create a question div  -->
      <div class="btn-group">

        <!-- create question  -->
        <button class="btn btn-success btn-sm
                text-monospace font-italic font-weight-bolder" style="color: white;font-weight: bold;">
          <i class="fa fa-plus-circle" aria-hidden="true"></i>
          Create a new question
        </button>

        <!-- create question button other half question -->
        <button class="btn btn-success btn-sm dropdown-toggle dropdown-toggle-split"
                id="createQuestionBtn" type="button"
                data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
          <span class="sr-only">Toggle Dropdown</span>
        </button>

        <!-- create types of question dropdown menu -->
        <div class="dropdown-menu" style="background-color: #28A745;">

          <!-- create multiple question -->
          <a class="dropdown-item text-monospace font-italic font-weight-bolder"
             data-toggle="modal" data-target=".bd-example-modal-lg"
             href="#" style="font-weight: bold" id="multipleQuestion"
             (click)="questionTypeChoosen($event.target)">Multiple choice</a>

          <!-- create boolean question -->
          <a class="dropdown-item text-monospace font-italic font-weight-bolder"
             data-toggle="modal" data-target="#booleanModal"
             href="#" style="font-weight: bold" id="booleanQuestion"
             (click)="questionTypeChoosen($event.target)">Boolean</a>

          <!-- create fill in the blanks question -->
          <a id="fillInBlanksQuestion" data-toggle="modal" data-target="#fillInModal"
             class="dropdown-item text-monospace font-italic font-weight-bolder"
             href="#" style="font-weight: bold"
             (click)="questionTypeChoosen($event.target)">Fill in the blanks</a>
        </div>
      </div>

      <!-- Delete a question button  -->
      <button (click)="deleteClicked()"
              class="btn btn-danger btn-sm ml-2 mr-4
              text-monospace font-italic font-weight-bolder"
              style="color: white;font-weight: bold;">
        <i class="fa fa-trash" aria-hidden="true"></i>
        Delete question(s)
      </button>
    </div>
  </div>

  <br>

  <!-- All Question Loop and pagination -->
  <ng-container *ngFor="let qn of questions.qns | paginate:
                                                    {
                                                    id: 'allQuestionsPagination',
                                                        itemsPerPage: 3,
                                                        currentPage: page,
                                                        totalItems: totalItems};
                                                        trackBy: trackByMethod;
                                                        index as i">

    <!-- Delete question icon -->
    <a *ngIf="deleteButton" (click)="getQuestionId($event.target)"
       style="margin-left: 50px; float: left" data-toggle="modal"
       data-target="#deleteModel" data-whatever="@mdo">

      <i class="fa fa-trash fa-2x" id="{{qn['_id']}}"
         aria-hidden="true" onmousemove="this.style.cursor = 'pointer';
                     this.style.fontSize= '6.7vh'"
         onmouseout="this.style.fontSize= ''"
         style="color: red; margin-left: 30px"></i>
    </a>

    <!-- Question & it's answer card -->

    <div class="col-10 justify-content-center mx-auto">
      <div class="card"
           style="background-color: #31373e">

        <!-- question number and title div -->
        <div class="card-content">

          <!-- question number -->
          <p class="card-title
             text-monospace font-italic font-weight-lighter ml-3 mt-3 "
             style="color: white">
            Question {{qn["questionNumber"]}} :
          </p>

          <!-- question title -->
          <h5>
            <p class="ml-3" style="color: white">
              <strong>{{qn.question}}</strong>
            </p>
          </h5>
        </div>

        <!-- question's answers div -->
        <div class="card ml-3 mb-3 mr-3">

          <p class="list-group list-group-flush">

            <!-- loop through all answers to the question -->
            <ng-container *ngFor="let option of qn['answers'];let j = index">
              <a class="list-group-item list-group-item-action">
                {{option.option}}
                <span *ngIf="(option['isCorrect']) === 'true'">
                 <i class="fa fa-check-circle right-align float-right mr-5"
                    style="color: green"> correct answer</i>
              </span>
              </a>
            </ng-container>
          </p>
        </div>
      </div>
    </div>

    <br>
  </ng-container>

  <!-- all questions pagination controls -->
  <div class="pagination justify-content-center pagination-lg">
    <pagination-controls id="allQuestionsPagination"
                         (pageChange)="page = ($event)"
                         maxSize="{{totalItems}}"
                         directionLinks="true"
                         autoHide="true"
                         responsive="true"
                         previousLabel="Previous"
                         nextLabel="Next">
    </pagination-controls>
  </div>
</div>

<ng-template #noquestions>
  <div class="row justify-content-center">
    <i class="fa fa-exclamation-circle fa-2x" style="color: red"></i>
    <h3 class="text-monospace font-italic font-weight-bolder">There are no questions !</h3>
  </div>
</ng-template>

<!-- Multiple choice question modal -->
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog"
     aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <!-- Multiple choice question modal header -->
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">
          Create a new question
        </h5>

        <!-- Multiple choice question close modal button -->
        <button (click)="closeAlert()" type="button" class="close"
                data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <!-- Mutliple create question body -->
      <div class="modal-body" style="margin-left: 40px">

        <!-- Question -->
        <label class="font-italic" for="questionText">Add your question here</label>
        <textarea #textArea0="ngModel"
                  [class.is-invalid]="textArea0.invalid && textArea0.touched"
                  [class.is-valid]="!(textArea0.invalid && textArea0.untouched)"
                  class="form-control w-75" id="questionText" rows="3"
                  [(ngModel)]="question" name="question"
                  style="" required></textarea>
        <small class="text-danger" [class.d-none]="textArea0.valid ||
          textArea0.untouched">
          <i style="color: red" class="fa fa-exclamation-circle"
             aria-hidden="true"></i> A question is required</small>
        <hr>

        <!-- Add inputs button -->
        <button style="float: left" type="button" data-toggle="tooltip"
                class="btn btn-outline-success btn-sm m-2 rounded text-center"
                data-placement="right" title="Add inputs"
                (click)="addAlternateOptions()">
          <i class="fa fa-plus-circle" aria-hidden="true"></i>
        </button>

        <!-- Multiple question inputs body -->
        <div class="card" style="width: 30rem;">
          <div class="card-header">
            Answers
          </div>

          <!-- Multiple inputs form group -->
          <form [formGroup]="multipleQuestionForm">

            <div formArrayName="options"
                 class="form-group list-group list-group-flush">

              <!-- Loop through dynamic inputs -->
              <div *ngFor="let group of getAnswerOptions.controls; let i=index"
                   [formGroupName]="i" class="list-group-item">

                <small class="font-italic" style="margin-left: 25px">
                  Answer {{i + 1}}
                </small>

                <!-- Delete input button -->
                <button (click)="removeSkill(i)" class="close mx-auto"
                        data-toggle="tooltip" data-placement="right"
                        title="Delete this input">
                  <span style="color: red" aria-hidden="true">&times;</span>
                </button>

                <!-- Multiple question answer input & checkbox -->
                <div class="custom-control custom-checkbox">

                  <input type="checkbox" class="custom-control-input "
                         (click)="buttonChecked($event.target)" id="{{i}}">

                  <label style="float: left" class="custom-control-label"
                         for="{{i}}">
                  </label>

                  <!-- Multiple input textArea -->
                  <label>
                  <textarea class="form-control" rows="2" formControlName="option"
                            style="width: 400px"
                            [class.is-invalid]="group['controls'].option.invalid &&
                      group['controls'].option.touched"
                            [class.is-valid]="!(group['controls'].option.invalid &&
                          group['controls'].option['untouched'])">
                  </textarea>
                  </label>
                  <small class="text-danger" style="float: left"
                         [class.d-none]="group['controls'].option.valid ||
                     group['controls'].option['untouched']">
                    <i style="color: red" class="fa fa-exclamation-circle"
                       aria-hidden="true"></i>
                    An answer required for option number : {{i + 1}}</small>
                </div>
              </div>
            </div>
          </form>
        </div>
        <br>

        <!-- multiple question info tag -->
        <small class="font-italic">
          <i class="fa fa-info-circle" aria-hidden="true" style="color: green"></i>
          Users will be displayed all options and will able to select one option.
        </small>

        <!-- multiple question footer modal -->
        <div class="modal-footer">
          <span *ngIf="alertMessage.length > 1 && !(alertMessage.includes('wrong'))"
                style="color: green; margin-right: 300px">
            {{alertMessage}}
          </span>
          <span *ngIf="alertMessage.includes('wrong')"
                style="color: red; margin-right: 350px">
            {{alertMessage}}
          </span>
          <button (click)="closeAlert()" type="button"
                  class="btn btn-secondary text-monospace font-italic font-weight-bolder"
                  data-dismiss="modal">Close
          </button>
          <button appAddClass (click)="onCreateQuestion($event.target)"
                  type="button" id="sumbitMultiple"
                  class="btn btn-primary text-monospace font-italic font-weight-bolder"
                  [disabled]="getAnswerOptions.invalid ||
                  textArea0.invalid || !submitOneAnswerCheck()">Submit
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Delete Modal -->
<div class="modal fade" id="deleteModel" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle1">Confirm Delete</h5>
        <button (click)="closeAlert()" type="button" class="close"
                data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h5 class="modal-title" style="text-align: center">
          <strong>Are you sure?</strong></h5>
        <br>
        <p>You are about to delete this question, this process is
          <strong>irreversible</strong>
        </p>
        <p>Do you want to proceed ?</p>
      </div>
      <div class="modal-footer">
        <span *ngIf="alertMessage.length > 1 && !(alertMessage.includes('wrong'))"
              style="color: green; margin-right: 80px">
            {{alertMessage}}
          </span>
        <span *ngIf="alertMessage.includes('wrong')"
              style="color: red; margin-right: 80px">
            {{alertMessage}}
          </span>
        <button (click)="closeAlert()" type="button"
                class="btn btn-secondary text-monospace font-italic font-weight-bolder"
                data-dismiss="modal">Close
        </button>
        <button appAddClass (click)="onDeleteQuestion()" type="button"
                class="btn btn-danger text-monospace font-italic font-weight-bolder">Delete
        </button>
      </div>
    </div>
  </div>
</div>


<!-- Boolean question modal -->
<div class="modal fade" id="booleanModal" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Create a new question</h5>
        <button (click)="closeAlert()" type="button" class="close"
                data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <!-- Boolean create question body -->
      <div class="modal-body" style="margin-left: 40px">

        <!-- Question -->
        <label class="font-italic" for="questionText1">
          Add your question here
        </label>
        <textarea #textAreaB0="ngModel"
                  [class.is-invalid]="textAreaB0.invalid && textAreaB0.touched"
                  [class.is-valid]="!(textAreaB0.invalid && textAreaB0.untouched)"
                  class="form-control" id="questionText1" rows="3"
                  [(ngModel)]="question" name="question"
                  style="width: 500px" required></textarea>
        <small class="text-danger" [class.d-none]="textAreaB0.valid ||
          textAreaB0.untouched">
          <i style="color: red" class="fa fa-exclamation-circle"
             aria-hidden="true"></i> A question is required</small>
        <hr>

        <!-- Boolean answer body -->
        <div class="card" style="width: 30rem;">

          <!-- Boolean answer header -->
          <div class="card-header">
            Answers
          </div>

          <!-- Answer 1 -->
          <div class="list-group list-group-flush">
            <div class="list-group-item">
              <small class="font-italic "
                     style="margin-left: 25px">True
              </small>
              <div class="custom-control custom-checkbox ">
                <input (click)="buttonChecked($event.target)" type="checkbox"
                       class="custom-control-input" id="optionB1">
                <label class="custom-control-label" for="optionB1"
                       style="float: left">
                </label>
                <textarea #textAreaB1="ngModel"
                          [class.is-invalid]="textAreaB1.invalid &&
                          textAreaB1.touched"
                          [class.is-valid]="!(textAreaB1.invalid &&
                          textAreaB1.untouched)"
                          class="form-control" id="answerB1" rows="2"
                          [(ngModel)]="option1" name="answerB1"
                          style="width: 400px" required></textarea>

                <label for="answerB1">
                </label>
                <small class="text-danger" [class.d-none]="textAreaB1.valid ||
              textAreaB1.untouched">
                  <i style="color: red" class="fa fa-exclamation-circle"
                     aria-hidden="true"></i> 1st answer required</small>
              </div>
            </div>

            <!-- Answer 2 -->
            <div class="list-group-item">
              <small class="font-italic "
                     style="margin-left: 25px">False</small>
              <div class="custom-control custom-checkbox ">
                <input (click)="buttonChecked($event.target)" type="checkbox"
                       class="custom-control-input" id="optionB2">
                <label class="custom-control-label" for="optionB2"
                       style="float: left"></label>

                <textarea #textAreaB2="ngModel"
                          [class.is-invalid]="textAreaB2.invalid && textAreaB2.touched"
                          [class.is-valid]="!(textAreaB2.invalid && textAreaB2.untouched)"
                          class="form-control" id="answerB2" rows="2"
                          [(ngModel)]="option2" name="answerB2"
                          style="width: 400px" required></textarea>

                <label for="answerB2"></label>
                <small class="text-danger" [class.d-none]="textAreaB2.valid ||
              textAreaB2.untouched">
                  <i style="color: red" class="fa fa-exclamation-circle"
                     aria-hidden="true"></i> 2nd answer required</small>
              </div>
            </div>
          </div>
        </div>
        <br>

        <!-- boolean question info tag -->
        <small class="font-italic">
          <i class="fa fa-info-circle" aria-hidden="true" style="color: green"></i>
          Users will be displayed all question options but will able to select just
          one option.
        </small>

        <!-- boolean modal footer -->
        <div class="modal-footer">
          <span *ngIf="alertMessage.length > 1 && !(alertMessage.includes('wrong'))"
                style="color: green; margin-right: 280px">
            {{alertMessage}}
          </span>
          <span *ngIf="alertMessage.includes('wrong')"
                style="color: red; margin-right: 280px">
            {{alertMessage}}
          </span>
          <button (click)="closeAlert()" type="button"
                  class="btn btn-secondary text-monospace font-italic font-weight-bolder"
                  data-dismiss="modal">Close
          </button>
          <button appAddClass (click)="onCreateQuestion($event.target)" type="button"
                  class="btn btn-primary text-monospace font-italic font-weight-bolder"
                  id="sumbitBoolean"
                  [disabled]="textAreaB2.invalid || textAreaB1.invalid ||
                            textAreaB0.invalid || !submitOneAnswerCheck()">Submit
          </button>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Fill in the blanks question modal -->
<div class="modal fade" id="fillInModal" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Create a new question</h5>
        <button (click)="closeAlert()" type="button" class="close" data-dismiss="modal"
                aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="margin-left: 40px">

        <!-- Question -->
        <label class="font-italic" for="fillInQuestion">Add your question here</label>
        <textarea #textAreaFillIn="ngModel"
                  [class.is-invalid]="textAreaFillIn.invalid && textAreaFillIn.touched"
                  [class.is-valid]="!(textAreaFillIn.invalid && textAreaFillIn.untouched)"
                  class="form-control" id="fillInQuestion" rows="3"
                  [(ngModel)]="question" name="question"
                  style="width: 500px" required></textarea>
        <small class="text-danger" [class.d-none]="textAreaFillIn.valid ||
          textAreaFillIn.untouched">
          <i style="color: red" class="fa fa-exclamation-circle"
             aria-hidden="true"></i> A question is required</small>
        <hr>

        <div class="container" style="background-color: lightgray">
          <small>

          </small>
        </div>

        <!-- Question format example -->
        <small class="font-italic">
          <i class="fa fa-exclamation-triangle" aria-hidden="true" style="color: red"></i>
          Enter each blank input box as a letter enclosed in square brackets,
          such as: <br>
          <strong>{{fillInexample}}</strong>
        </small>
        <br> <br>

        <!-- Preview of the question typed -->
        <div class="card w-75">
          <div class="card-header ">
            <p class="font-weight-bold">
              Preview :
            </p>
          </div>
          <div class="card-body">
            <p class="text-monospace">
              {{question | replace}}
            </p>
          </div>
        </div>

        <br>

        <!-- Fill in question info tag -->
        <small class="font-italic">
          <i class="fa fa-info-circle" aria-hidden="true" style="color: green"></i>
          Users will be shown multiple input boxes within the text of the question.
        </small>

        <!-- boolean modal footer -->
        <div class="modal-footer">
          <span *ngIf="alertMessage.length > 1 && !(alertMessage.includes('wrong'))"
                style="color: green; margin-right: 280px">
            {{alertMessage}}
          </span>
          <span *ngIf="alertMessage.includes('wrong')"
                style="color: red; margin-right: 280px">
            {{alertMessage}}
          </span>
          <button (click)="closeAlert()" type="button"
                  class="btn btn-secondary text-monospace font-italic font-weight-bolder"
                  id="closeFillInModal" data-dismiss="modal">Close
          </button>
          <button appAddClass (click)="onCreateQuestion($event.target)" type="button"
                  class="btn btn-primary text-monospace font-italic font-weight-bolder"
                  id="sumbitFillIn"
                  [disabled]="textAreaFillIn.invalid">Submit
          </button>
        </div>
      </div>
    </div>
  </div>
</div>



