
.modal.fade:not(.show).top-left-3d .modal-dialog {
  transform: translate3d(-25%, -25%, 0);
}
.modal.fade:not(.show).top-right-3d .modal-dialog {
  transform: translate3d(25%, -25%, 0);
}
.modal.fade:not(.show).bottom-left-3d .modal-dialog {
  transform: translate3d(-25%, 25%, 0);
}
.modal.fade:not(.show).bottom-right-3d .modal-dialog {
  transform: translate3d(25%, 25%, 0);
}
