<div *ngIf="groups.length > 0 else loadingSpinner">

  <br><br>
  <!-- Filter Input -->
  <div class="container">
    <div class="row justify-content-center">
      <label for="search"></label>
      <input
        class="form-control" type="search" id="search" style="width: 12rem;"
        [(ngModel)]="filterGroups" name="search"
        placeholder="Recherche" aria-label="Search">
    </div>
  </div>
  <br>

  <div class="container text-center ml-lg-auto ">
    <button name="createGroup" type="submit" id="createGroupBtn"
            class="btn btn-outline-success
                  text-center text-monospace font-italic font-weight-bolder"
            data-toggle="modal" data-target="#createGroup"
            data-whatever="@mdo">Créer un nouveau groupe
    </button>
  </div>
  <br>
  <!-- User Table -->
  <div class="container text-center ">
    <p class="font-weight-bold">Mes groupes </p>
    <br>
    <!-- Table  -->
    <table
      class="table table-bordered table-responsive-md table-responsive-lg
    table-responsive-sm table-striped " id="testTable">
      <!-- Table head -->
      <thead class="thead-dark">
      <tr>

        <!-- group number -->
        <th scope="col"># <i class="fa fa-sort-numeric-asc" aria-hidden="true"></i></th>
        <!-- groupName -->
        <th class="text-monospace font-italic" id="username" style="cursor: pointer">Nom</th>
        <!-- Role -->
        <th class="text-monospace font-italic" id="role" style="cursor: pointer">Rôle</th>
        <!-- Action -->
        <th class="text-monospace font-italic" id="action" style="cursor: pointer">Action</th>

      </tr>
      </thead>
      <!-- Table head -->

      <!-- Table body -->
      <tbody id="demo">
      <ng-container *ngFor="let group of groups index as i">

        <tr #groupId id="{{group['groupId']}}">

          <td class="text-monospace font-italic font-weight-bold"> {{i + 1}} </td>

          <!-- group name td  -->
          <td onmousemove="this.style.color='green';
                   this.style.backgroundColor = 'rgba(0, 255, 0, 0.3)'"
              onmouseout="this.style.backgroundColor = ''; this.style.color=''">
            <a #groupName id="{{group['groupName']}}"
               [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }"
               style="cursor: pointer; color: black" title="View this group details"
               onmousemove="this.style.fontSize= '2.9vh'"
               onmouseout="this.style.backgroundColor = ''; this.style.color='black';
            this.style.fontSize= ''"
               [routerLink]="['/group', group['groupId'], group['roleInThisGroup']['role'], group['groupName']]"
               class="text-monospace font-italic font-weight-bold">
              {{group['groupName']}} </a></td>

          <!-- role in a group td  -->
          <td class="text-monospace font-italic font-weight-bold">
            {{group['roleInThisGroup'].role}} </td>

          <!-- Action td  -->
          <td class="text-monospace font-italic">

            <span *ngIf="group['roleInThisGroup'].role === 'admin'">

                    <!-- update and delete group icons  -->
                     <a>

                       <!-- update group icon updateGroup-->
                       <button (click)="updateGroupClicked(groupId, groupName)"
                               class="btn btn-primary btn-sm rounded"
                               data-toggle="modal" data-target="#updateGroup"
                               data-whatever="@mdo" name="updateGroupBtn"
                               type="button" data-placement="top" title="Edit">
                       <i class="fa fa-edit" aria-hidden="true">
                       </i></button>
                     </a>

              <!-- delete group a tag -->
                    <a class="ml-3">

                      <!-- delete group icon -->
                      <button (click)="deleteGroupClicked(groupId, groupName)"
                              class="btn btn-danger btn-sm rounded"
                              data-toggle="modal" data-target="#deleteGroup"
                              data-whatever="@mdo" name="deleteGroupBtn"
                              type="button" data-placement="top" title="Delete">
                      <i class="fa fa-trash" aria-hidden="true"></i></button>
                    </a>
                  </span>

            <span *ngIf="group['roleInThisGroup'].role === 'member'">
              <button type="submit" data-toggle="modal"
                      (click)="leaveGroupClicked(groupId, groupName)"
                      data-target="#leaveGroup" data-whatever="@mdo"
                      class="btn btn-outline-danger text-center btn-sm
                      text-monospace font-italic font-weight-bolder">Leave
              </button>
            </span>
          </td>
        </tr>
      </ng-container>
      </tbody>
      <!-- Table body -->
    </table>
  </div>

</div>

<!-- loading spinner -->
<ng-template #loadingSpinner>
  <app-spinner></app-spinner>
</ng-template>

<!-- create a group modal -->
<div class="modal fade top-right-3d" id="createGroup" tabindex="-1"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- create a group modal header -->
      <div class="modal-header">
        <h5 class="modal-title ont-weight-bold text-monospace
            font-italic font-weight-bolder h4" id="exampleModalLabel">Créer un groupe</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <!-- create a group modal body-->
      <div class="modal-body">

        <!-- create a group modal form-->
        <form #addGroupForm="ngForm">

          <!-- create a group modal form groupName input -->
          <div class="form-group">
            <label for="groupName" class="font-weight-bold text-monospace
            font-italic font-weight-bolder">Nom du groupe:</label>

            <input #groupNameInput="ngModel"
                   [class.is-invalid]="groupNameInput.invalid && groupNameInput.touched"
                   [class.is-valid]="!(groupNameInput.invalid && groupNameInput.untouched)"
                   class="form-control" type="text" id="groupName"
                   [(ngModel)]="groupName" name="groupName" minlength="4" maxlength="32"
                   placeholder="Le nom du groupe" required>
            <div *ngIf="groupNameInput.errors && (groupNameInput.invalid ||
                        groupNameInput.touched)">
              <small id="groupNameError1" class="text-danger"
                     *ngIf="groupNameInput.errors.minlength">
                {{groupNameInput.value}} la longueur minimale est 4
              </small>
              <small id="groupNameError2" class="text-danger"
                     *ngIf="groupNameInput.errors.required
                      && groupNameInput.touched">Le nom du groupe est requis</small>
            </div>
          </div>

          <!-- create a group modal form groupDescription input -->
          <div class="form-group">
            <label for="groupDescription" class="font-weight-bold
            text-monospace font-italic font-weight-bolder">
              Description du groupe:</label>

            <!-- groupDescription textarea -->

            <textarea #textArea="ngModel"
                      [class.is-invalid]="textArea.invalid && textArea.touched"
                      class="form-control w-100" id="groupDescription" rows="2"
                      [class.is-valid]="!(textArea.invalid && textArea.untouched)"
                      placeholder="La description du groupe" minlength="2"
                      maxlength="250" [(ngModel)]="groupDescription"
                      name="groupDescription" required>
            </textarea>
            <div *ngIf="textArea.errors && (textArea.invalid ||
                        textArea.touched)">
              <small id="textAreaError1" class="text-danger" *ngIf="textArea.errors.minlength">
                {{textArea.value}} la longueur minimale est 2
              </small>
              <small id="textAreaError2" class="text-danger"
                     *ngIf="textArea.errors.required
                      && textArea.touched">La description d'un groupe est requise</small>
            </div>
          </div>


          <!-- create a group modal footer-->
          <div class="modal-footer">

            <!-- form close button -->
            <button type="button"
                    class="btn btn-secondary text-monospace font-italic
                    font-weight-bolder" data-dismiss="modal" id="modalClose">Fermer
            </button>

            <!-- form submit button -->
            <button (click)="oncreateGroupSubmit()" id="createGroupSubmit" type="submit"
                    data-dismiss="modal" class="btn btn-primary text-monospace
                    font-italic font-weight-bolder"
                    [disabled]="addGroupForm.form.invalid">Valider
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<!-- leave group modal -->
<div class="modal fade top-left-3d" id="leaveGroup" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">

      <!-- leave group modal header -->
      <div class="modal-header">
        <h5 class="modal-title text-monospace font-italic font-weight-bolder"
            id="exampleModalLongTitle">Quitter le groupe : {{groupName}}</h5>

        <!-- delete review close  modal button -->
        <button type="button" class="close"
                data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <!-- leave group modal body -->
      <div class="modal-body">
        <h5 class="modal-title text-monospace font-italic" style="text-align: center">
          <strong>Êtes-vous sûr ? </strong></h5>
        <br>
        <p class="text-monospace font-italic">
          Vous êtes sur le point de quitter ce groupe, ce processus est <strong>irréversible
        </strong></p>
        <p class="text-monospace font-italic">Voulez-vous poursuivre ?</p>
      </div>

      <!-- leave group modal footer -->
      <div class="modal-footer">

        <!-- leave group close button -->
        <button type="button" id="deleteClose"
                class="btn btn-secondary text-monospace font-italic
                font-weight-bolder" data-dismiss="modal">Annuler
        </button>

        <!--  leave group submit button -->
        <button (click)="onLeaveGroup()" type="button" id="deleteSubmit"
                data-dismiss="modal" class="btn btn-danger text-monospace
                font-italic font-weight-bolder">Quitter le groupe
        </button>
      </div>
    </div>
  </div>
</div>


<!-- delete group modal -->
<div class="modal fade bottom-right-3d" id="deleteGroup" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">

      <!-- leave group modal header -->
      <div class="modal-header">
        <h5 class="modal-title text-monospace font-italic font-weight-bolder">
          Supprimer le groupe : {{groupName}}</h5>

        <!-- delete review close  modal button -->
        <button type="button" class="close"
                data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <!-- leave group modal body -->
      <div class="modal-body">
        <h5 class="modal-title text-monospace font-italic" style="text-align: center">
          <strong>Voulez-vous vraiment ? </strong></h5>
        <br>
        <p class="text-monospace font-italic">
          Vous êtes sur le point de quitter ce groupe, ce processus est <strong>irréversible
        </strong></p>
        <p class="text-monospace font-italic">Voulez-vous poursuivre ?</p>
      </div>

      <!-- leave group modal footer -->
      <div class="modal-footer">

        <!-- leave group close button -->
        <button type="button"
                class="btn btn-secondary text-monospace font-italic
                font-weight-bolder" data-dismiss="modal">Annuler
        </button>

        <!--  leave group submit button -->
        <button (click)="ondeleteGroup()" type="button" id="deleteGroupSubmitBtn"
                data-dismiss="modal" class="btn btn-danger text-monospace
                font-italic font-weight-bolder">Supprimer le groupe
        </button>
      </div>
    </div>
  </div>
</div>


<!-- update a group modal -->
<div class="modal fade bottom-left-3d" id="updateGroup" tabindex="-1"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- update a group modal header -->
      <div class="modal-header">
        <h5 class="modal-title ont-weight-bold text-monospace
            font-italic font-weight-bolder h4">Update {{groupName}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <!-- update a group modal body-->
      <div class="modal-body">

        <!-- update a group modal form-->
        <form #updatedGroupForm="ngForm">

          <!-- update a group modal form groupName input -->
          <div class="form-group">
            <label for="updateGroupName" class="font-weight-bold text-monospace
            font-italic font-weight-bolder">Group Name:</label>

            <input #groupNameInput="ngModel"
                   [class.is-invalid]="groupNameInput.invalid && groupNameInput.touched"
                   [class.is-valid]="!(groupNameInput.invalid && groupNameInput.untouched)"
                   class="form-control" type="text" id="updateGroupName"
                   [(ngModel)]="groupName" name="groupName" minlength="4" maxlength="32"
                   placeholder="Le nom du groupe" required>
            <div *ngIf="groupNameInput.errors && (groupNameInput.invalid ||
                        groupNameInput.touched)">
              <small id="updateGroupNameError1" class="text-danger"
                     *ngIf="groupNameInput.errors.minlength">
                {{groupNameInput.value}} la longueur minimale est 4
              </small>
              <small id="updateGroupNameError2" class="text-danger"
                     *ngIf="groupNameInput.errors.required
                      && groupNameInput.touched">Le nom du groupe est requis</small>
            </div>
          </div>

          <!-- update a group modal form groupDescription input -->
          <div class="form-group">
            <label for="updateGroupDescription" class="font-weight-bold
            text-monospace font-italic font-weight-bolder">
              Group Description:</label>

            <!-- groupDescription textarea -->
            <textarea #textArea="ngModel"
                      [class.is-invalid]="textArea.invalid && textArea.touched"
                      class="form-control w-100" id="updateGroupDescription" rows="2"
                      [class.is-valid]="!(textArea.invalid && textArea.untouched)"
                      placeholder="La description du groupe"
                      [(ngModel)]="groupDescription" name="groupDescription" required>
            </textarea>
            <small class="text-danger" [class.d-none]="textArea.valid ||
                textArea.untouched">La description d'un groupe est requise</small>
          </div>

          <!-- update a group modal footer-->
          <div class="modal-footer">

            <!-- form close button -->
            <button type="button"
                    class="btn btn-secondary text-monospace font-italic
                    font-weight-bolder" data-dismiss="modal"
                    id="updateGroupClose">Close
            </button>

            <!-- form submit button -->
            <button (click)="onupdateGroupSubmit()" id="updateGroupSubmit"
                    type="submit" data-dismiss="modal"
                    class="btn btn-primary text-monospace
                    font-italic font-weight-bolder"
                    [disabled]="updatedGroupForm.form.invalid">Valider
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
