
<!-- Footer -->
<footer class="page-footer font-small grey lighten-3 py-4 dark-grey-text"
        style="background-color: #343a40">

  <!-- Footer Elements -->
  <div class="container">

    <div class="row">
      <div class="col-md-4">
        <h3 class="font-weight-bold mb-0"
            style="color: white">EPHEC</h3>
      </div>
      <div class="col-md-4">
        <ul class="list-unstyled d-flex justify-content-center mb-0 mt-2">
          <li>
            <a class="mx-3" role="button"  style="color: white">About</a>
          </li>
          <li>
            <a class="mx-3" role="button" style="color: white">Blog</a>
          </li>
          <li>
            <a class="mx-3" role="button" style="color: white">Policy</a>
          </li>
          <li>
            <a class="mx-3" role="button" style="color: white">Contact</a>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <!-- Copyright -->
        <div class="footer-copyright text-right bg-transparent dark-grey-text mt-2"
             style="color: white">© 2020.
          <a class="dark-grey-text" href="#"  style="color: white"> All rights reserved.</a>
        </div>
        <!-- Copyright -->
      </div>
    </div>

  </div>
  <!-- Footer Elements -->

</footer>
<!-- Footer -->
