<div class="row" style="margin : 10px">
  <div class="col-lg-6">
    <app-charts [type]="'bar'" [title]="'Number of users'"></app-charts>
  </div>
  <div class="col-lg-6">
    <app-charts [type]="'line'" [title]="'Students resutls'"></app-charts>
  </div>
</div>
<div class="row" style="margin : 10px">
  <div class="col-lg-6">
    <app-charts [type]="'horizontalBar'" [title]="'Number of users'"></app-charts>
  </div>
  <div class="col-lg-6">
    <app-charts [type]="'bar'" [title]="'Students resutls'"></app-charts>
  </div>
</div>
<br><br><br>

