<app-min-nav-bar></app-min-nav-bar>
<br>


<!-- Filter Input -->
<div class="container">
  <div class="row justify-content-center">
      <label for="search"></label>
      <input
        class="form-control" type="search" id="search" style="width: 12rem;"
        [(ngModel)]="searchValue" name="search"
        placeholder="Filter" aria-label="Search">
  </div>
</div>


<div class="container mb-5">

  <!-- Grid row -->
  <div class="row">

    <div class="col-md-12">

      <h3 class="mb-4 font-weight-bold">All Users</h3>

    </div>

    <ng-container *ngFor="let user of users | filter : searchValue; let i = index">
      <!--Grid column-->
      <div *ngIf="user['role'] !== 'admin' && user['role'] !== 'teacher'" class="col-lg-4
        col-md-12 mb-lg-0 mb-4">

        <!--Card-->
        <div class="card testimonial-card">

          <!--Background color-->
          <div class="card-up info-color"></div>

          <!--Avatar-->
          <div class="avatar mx-auto white" style="margin-top: 8px">
            <img *ngIf="i <= 15" src="../../../../assets/img/{{i + 1}}.jpg" class="rounded-circle img-fluid"
                 style="height: 150px" alt="">
            <img *ngIf="i > 15" src="../../../../assets/img/no-profile.png" class="rounded-circle img-fluid"
                 style="height: 150px" alt="">
          </div>

          <!-- user card -->
          <div class="card-body">

            <!-- user -->
            <h4 class="font-weight-bold mb-4">{{user["username"]}}
              <i *ngIf="user['isVerified']" class="fa fa-check-circle"
                 style="color: dodgerblue" title="Verified Account"></i>
              <i *ngIf="!user['isVerified']" class="fa fa-times-circle"
                 style="color: indianred" title="Unverified Account"></i>
            </h4>
            <hr>

            <!--user id-->
            <p class="dark-grey-text mt-4"><i class="fa fa-quote-left pr-2"></i>
              <strong style="margin-right: 37px">Id : </strong> {{user["_id"]}}
              <br>

              <!-- user email -->
              <strong style="margin-right: 34px"> Email : </strong> {{user["email"]}}
              <br>

              <!-- username -->
              <strong> Username : </strong> {{user["username"]}}
              <br>

              <!-- user level -->
              <strong style="margin-right: 37px"> Level : </strong> {{user["level"]}}
              <br>

              <!-- user role -->
              <strong style="margin-right: 44px"> Role : </strong> {{user["role"]}}
            </p>
            <hr>

            <div class="d-flex">

              <!-- update user button -->
              <button  id="updateUser" name="{{user['_id']}}" type="button"
                       (click)="getUpdateId($event.target)"
                       class="btn btn-info btn-sm text-monospace font-italic font-weight-bolder"
                      data-toggle="modal" data-target="#exampleModal">
                <i class="fa fa-pencil" aria-hidden="true"
                   style="color: white"></i> Update
              </button>

              <!-- delete user button -->
              <button id="{{user['_id']}}" (click)="getDeleteId($event.target)"
                      type="button" data-toggle="modal" data-target="#deleteModel"
                      class="btn btn-secondary btn btn-danger btn-sm ml-auto
                      text-monospace font-italic font-weight-bolder">
                <i class="fa fa-trash " aria-hidden="true"
                   style="color: white;"></i> Delete
              </button>
            </div>
          </div>
        </div>
        <br>
        <!--Card-->
      </div>
      <!--Grid column-->
    </ng-container>
  </div>
  <!-- Grid row -->
</div>


<!-- updated modal success alert message -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <!-- update modal success alert message -->
      <div *ngIf="alertMessage.length > 1 && !(alertMessage.includes('wrong'))"
           class="alert alert-success" role="alert"> {{alertMessage}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <!-- update modal failed alert message -->
      <div *ngIf="alertMessage.includes('wrong')" class="alert alert-danger"
           role="alert"> {{alertMessage}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <!-- update modal header -->
      <div class="modal-header">

        <h5 class="modal-title text-monospace font-italic font-weight-bolder"
            id="exampleModalLabel">Update their profile</h5>

        <!-- close update modal -->
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #profileForm="ngForm" (submit)="onUpdateAllUser()">

          <!-- Username -->
          <div class="form-group">
            <label for="username" class="col-form-label"></label>
            <input #usernameInput="ngModel"
                   [class.is-invalid]="usernameInput.invalid && usernameInput.touched"
                   [class.is-valid]="!(usernameInput.invalid && usernameInput.untouched)"
                   class="form-control" type="text" id="username"
                   [(ngModel)]="username" name="username"
                   placeholder="Username" value="{{username}}" required>
            <small class="text-danger" [class.d-none]="usernameInput.valid ||
            usernameInput.untouched">A username is required</small>
          </div>

          <!-- Email address -->
          <div class="form-group">
            <label for="inputEmail">
            </label>
            <input #emailInput="ngModel"
                   pattern="^[aA-zZ0-9._%+-]+@[a-z0-9.-]+\.[aA-zZ]{2,4}$"
                   [class.is-invalid]="emailInput.invalid && emailInput.touched"
                   [class.is-valid]="!(emailInput.invalid && emailInput.untouched)"
                   class="form-control" type="email" id="inputEmail"
                   [(ngModel)]="email" name="email"
                   placeholder="Email address" required>
          </div>
          <div *ngIf="emailInput.errors && (emailInput.invalid ||
                        emailInput.touched)">
            <small class="text-danger" *ngIf="emailInput.errors.pattern">
              {{emailInput.value}} is not a valid email</small>
            <small class="text-danger" *ngIf="emailInput.errors.required
                      && emailInput.touched">
              An Email is required</small>
          </div>

          <!-- Password -->
          <div class="form-group">
            <label for="inputPassword" class="col-form-label"></label>
            <input #passwordInput="ngModel"
                   [class.is-invalid]="passwordInput.invalid && passwordInput.touched"
                   [class.is-valid]="!(passwordInput.invalid && passwordInput.untouched)"
                   class="form-control" type="text" id="inputPassword"
                   [(ngModel)]="password" name="password"
                   placeholder="Password" required>
            <small class="text-danger" [class.d-none]="passwordInput.valid ||
            passwordInput.untouched">A password is required</small>
          </div>

          <!-- Confirm Password  -->
          <div class="form-group">
            <label for="PasswordConfirm" class="col-form-label"></label>
            <input #inputConfirmPassword="ngModel" pattern="{{passwordInput.value}}"
                   [class.is-invalid]="inputConfirmPassword.invalid &&
                   inputConfirmPassword.touched"
                   [class.is-valid]="!(inputConfirmPassword.invalid &&
                   inputConfirmPassword.untouched)"
                   class="form-control" type="text" id="PasswordConfirm"
                   [(ngModel)]="confirmPassword" name="confirmPassword"
                   placeholder="Confirm password" required>

            <div *ngIf="inputConfirmPassword.errors && (inputConfirmPassword.invalid ||
                        inputConfirmPassword.touched)">
              <small class="text-danger" *ngIf="inputConfirmPassword.errors.pattern">
                Passwords do not match</small>
              <small class="text-danger" *ngIf="inputConfirmPassword.errors.required
                      && inputConfirmPassword.touched">
                Please confirm your password</small>
            </div>
          </div>

          <!-- update modal footer -->
          <div class="modal-footer">
            <button type="button" id="modalClose"
                    class="btn btn-secondary text-monospace font-italic font-weight-bolder"
                    data-dismiss="modal">Close
            </button>
            <button appAddClass type="submit"
                    class="btn btn-primary text-monospace font-italic font-weight-bolder"
                    [disabled]="profileForm.form.invalid">Submit
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<!-- delete modal -->
<div class="modal fade" id="deleteModel" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">

      <!-- delete modal success alert message -->
      <div *ngIf="alertMessage.length> 1 && !(alertMessage.includes('wrong'))"
           class="alert alert-success" role="alert"> {{alertMessage}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <!-- delete modal failed alert message -->
      <div *ngIf="alertMessage.includes('wrong')" class="alert alert-danger"
           role="alert"> {{alertMessage}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <!-- delete modal header -->
      <div class="modal-header">
        <h5 class="modal-title text-monospace font-italic font-weight-bolder"
            id="exampleModalLongTitle">Confirm Delete</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <!-- delete modal body -->
      <div class="modal-body">
        <h5 class="modal-title text-monospace font-italic" style="text-align: center">
          <strong>Are you sure?</strong></h5>
        <br>
        <p class="text-monospace font-italic">You are about to delete this user, and this process is <strong>irreversible
        </strong>!</p>
        <p class="text-monospace font-italic">Do you want to proceed ?</p>
      </div>

      <!-- delete modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary text-monospace font-italic font-weight-bolder"
                data-dismiss="modal">Close
        </button>
        <button appAddClass (click)="onDeleteUser()" type="button"
                class="btn btn-danger text-monospace font-italic font-weight-bolder">Delete
        </button>
      </div>
    </div>
  </div>
</div>



