<div *ngIf="reviews.rev">

  <div class="d-flex justify-content-center align-items-center">
    <div class="container m-5 p-5 border border-bottom">

      <!-- Add a review button -->
      <div *ngIf="!checkTokens()" class="row">
        <div class="col-md-12 text-center">
          <button (click)="chooseModalTitle($event.target)" name="createReview" type="submit"
                  class="btn btn-outline-success
                  text-center text-monospace font-italic font-weight-bolder"
                  data-toggle="modal" id="addReviewBtn"
                  data-target="#addReviewModel" data-whatever="@mdo">Add a review
          </button>
        </div>
      </div>
      <!-- Show all reviews section -->
      <section>
        <br>
        <div id="comments" class="text-center font-weight-bold">
          <span>{{(reviews.rev).length}}</span> comments
        </div>

        <!-- Loop through all reviews and paginate -->
        <ng-container *ngFor="let review of reviews.rev | paginate:
                                                    { id: 'reviewsPagination',
                                                        itemsPerPage: 4,
                                                        currentPage: page,
                                                        totalItems: totalItems };
                                                        let i = index">
          <div class="media d-block d-md-flex mt-4">

            <!-- user image -->

              <img *ngIf="i <= 15" src="../../../../assets/img/{{review['imageNumber']}}.jpg"
                   class="card-img-64 d-flex mx-auto mb-3 rounded-circle" style="width: 12%" alt="">

              <img *ngIf="i > 15" src="../../../../assets/img/no-profile.png"
                   class="card-img-64 d-flex mx-auto mb-3" style="width: 10%" alt="">

            <!-- user/review info -->
            <div class="media-body text-center text-md-left ml-md-3 ml-0">


              <div id="test" class="font-weight-bold my-0">

                <!-- review author -->
                <div class="d-flex justify-content-between">
                  <div>
                    {{review["author"]}}
                    <i class="fa fa-check-circle" style="color: dodgerblue"
                    title="Verified Account"></i>
                  </div>

                  <span *ngIf="review['author'] === loggedInUser || loggedInUserRole === 'admin'
                      || loggedInUserRole === 'teacher'">

                    <!-- Select a title for update & create review modal -->
                     <a *ngIf="!checkTokens()"
                       class="" (click)="chooseModalTitle($event.target)"
                        data-toggle="modal" data-target="#addReviewModel"
                        data-whatever="@mdo">

                      <!-- update review icon -->
                       <i id="{{review['_id']}}" name="updateReview"
                          title="{{review['author']}}" class="fa fa-pencil"
                          aria-hidden="true" onmousemove="this.style.cursor = 'pointer';
                       this.style.fontSize= '4.7vh'"
                          onmouseout="this.style.fontSize= ''" style="color: blue"></i>
                     </a>

                    <!-- delete review a tag -->
                    <a  *ngIf="!checkTokens()"
                      class="ml-3" (click)="getDeleteId($event.target)" data-toggle="modal"
                        data-target="#deleteModel" data-whatever="@mdo">

                      <!-- delete review icon -->
                      <i title="{{review['_id']}}" id="{{review['author']}}" class="fa fa-trash"
                         aria-hidden="true" onmousemove="this.style.cursor = 'pointer';
                       this.style.fontSize= '4.7vh'" onmouseout="this.style.fontSize= ''"
                         style="color: red" name="deleteReview"></i>
                    </a>
                  </span>
                </div>

                <!-- Riview rating -->
                Rating :
                <ngb-rating [(rate)]='review["rating"]' [readonly]="readonly"
                            [max]="5"></ngb-rating>
              </div>

              <!-- review date / time -->
              <p class="blockquote-footer my-0">
               {{review["date"] | slice:0:7}}
                {{review["date"] | timeAgo}}
              </p>

              <!-- review text -->
              {{review["reviewText"]}}
            </div>
          </div>
          <hr>
        </ng-container>
      </section>

      <!-- review pagination controls -->
      <div class="pagination justify-content-center pagination-lg">
        <pagination-controls id="reviewsPagination"
                             (pageChange)="page = ($event)"
                             maxSize="{{totalItems}}"
                             directionLinks="true"
                             autoHide="true"
                             responsive="true"
                             previousLabel="Previous"
                             nextLabel="Next"
                             screenReaderPaginationLabel="Pagination"
                             screenReaderPageLabel="page"
                             screenReaderCurrentLabel="You're on page">
        </pagination-controls>
      </div>
    </div>
  </div>

</div>


<!-- Create/Update review modal -->
<div class="modal fade" id="addReviewModel" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <!-- create/update review modal header -->
      <div class="modal-header">
        <h5 class="modal-title text-monospace font-italic font-weight-bolder"
            id="exampleModalLabel">{{title}}</h5>

        <!-- create/update review close modal button -->
        <button (click)="closeAlert()" type="button" class="close"
                data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <!-- create/update review modal body -->
      <div class="modal-body">

        <!-- create/update review form -->
        <form #reviewForm="ngForm" action="" class="my-form" (submit)="choose()">

          <!-- create/update review card -->
          <div class="card" style="width: 29rem;">

            <!-- create/update review card -->
            <div class="card-header">
              <p class="font-weight-bold text-monospace font-italic
              font-weight-bolder">Rating :
                <ngb-rating [(rate)]="currentRate" [max]="5"></ngb-rating>
              </p>
            </div>

            <!-- create/update review rating input -->
            <div class="list-group list-group-flush">
              <div class="list-group-item">
                <label for="inputRating">
                  <input #rateInput="ngModel" [class.is-invalid]="rateInput.invalid &&
                    rateInput.touched" class="form-control"
                         [(ngModel)]="currentRate" type="number" id="inputRating"
                         name="currentRate" style="width: 67px; height: 35px" required>
                </label>
                out of 10
                <p class="font-weight-bold text-monospace font-italic font-weight-bolder">
                  Rate: <b style="color: lightseagreen"> {{currentRate}}</b>
                </p>
              </div>
              <div class="list-group-item">
                <label class="font-weight-bold text-monospace font-italic"
                       for="reviewComment">Your comment</label>

                <!-- review textarea -->
                <textarea #textArea="ngModel"
                          [class.is-invalid]="textArea.invalid && textArea.touched"
                          class="form-control w-100" id="reviewComment" rows="4"
                          [class.is-valid]="!(textArea.invalid && textArea.untouched)"
                          [(ngModel)]="reviewText" name="reviewText" required></textarea>
                <small class="text-danger" [class.d-none]="textArea.valid ||
                textArea.untouched">Review Text is required</small>
              </div>
            </div>
          </div>
          <br>
          <!-- create/update review modal footer -->
          <div class="modal-footer">

            <!-- update/create review success submit message -->
            <span *ngIf="alertMessage.length > 1 && !(alertMessage.includes('wrong'))"
                  style="color: green; margin-right: 50px" id="createSuccess">
              {{alertMessage}}
            </span>

            <!-- update/create review failed submit message -->
            <span *ngIf="alertMessage.includes('wrong')"
                  style="color: red; margin-right: 90px" id="createFail">
              {{alertMessage}}
            </span>

            <!-- update/create review close button -->
            <button (click)="closeAlert()" type="button"
                    class="btn btn-secondary text-monospace font-italic font-weight-bolder"
                    data-dismiss="modal" id="modalClose">Close
            </button>

            <!-- update/create review submit button -->
            <button appAddClass id="reviewSubmit" type="submit"
                    class="btn btn-primary text-monospace font-italic font-weight-bolder"
                    [disabled]="reviewForm.form.invalid">submit
            </button>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>


<!-- delete review modal -->
<div class="modal fade" id="deleteModel" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">

      <!-- delete review modal header -->
      <div class="modal-header">
        <h5 class="modal-title text-monospace font-italic font-weight-bolder" id="exampleModalLongTitle">Confirm Delete</h5>

        <!-- delete review close modal button -->
        <button (click)="closeAlert()" type="button" class="close"
                data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <!-- delete review modal body -->
      <div class="modal-body">
        <h5 class="modal-title text-monospace font-italic" style="text-align: center">
          <strong>Are you sure?</strong></h5>
        <br>
        <p class="text-monospace font-italic">You are about to delete this comment, this process is <strong>irreversible
        </strong></p>
        <p class="text-monospace font-italic">Do you want to proceed ?</p>
      </div>

      <!-- delete review modal footer -->
      <div class="modal-footer">

        <!-- delete review success submit message -->
        <span *ngIf="alertMessage.length > 1 && !(alertMessage.includes('wrong'))"
              class="text-monospace font-italic"
              style="color: green; margin-right: 70px" id="reviewdeleteAlert"> {{alertMessage}}
            </span>

        <!-- delete review failed submit message -->
        <span *ngIf="alertMessage.includes('wrong')"
              class="text-monospace font-italic"
              style="color: red; margin-right: 90px"> {{alertMessage}}
            </span>

        <!-- delete review close button -->
        <button (click)="closeAlert()" type="button" id="deleteClose"
                class="btn btn-secondary text-monospace font-italic font-weight-bolder"
                data-dismiss="modal">Close
        </button>

        <!-- delete review submit button -->
        <button appAddClass (click)="onDeleteReview()" type="button" id="deleteSubmit"
                class="btn btn-danger text-monospace font-italic font-weight-bolder">Delete
        </button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!reviews.rev"
     style="margin-bottom: 302px; margin-left: 20px; text-align: center;
     margin-top: 50px">
  <i class="fa fa-exclamation-triangle fa-4x" style="color: red"></i>
  <h3 class="text-monospace font-italic font-weight-bolder">There are no reviews</h3>
</div>
