<nav id="toto" class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
    <ul class="navbar-nav mr-auto">

      <!-- Home -->
      <li class="nav-item " [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{ exact: true }">
        <a class="nav-link" [routerLink]="['/home']">
          <i class="fa fa-home "></i> Accueil</a>
      </li>

      <!-- Register -->
      <li *ngIf="!authService.currentUserValue"
        class="nav-item" [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{ exact: true }">
        <a class="nav-link" [routerLink]="['/register']">
          <i class="fa fa-user-plus"></i> Inscription</a>
      </li>

      <!-- Contact -->
      <li class="nav-item">
        <a class="nav-link" style="cursor:pointer;" [routerLink]="['/home']">
          <i class="fa fa-envelope"></i>
          Contact
        </a>
      </li>

      <!-- About -->
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/about']">
          <i class="fa fa-address-card"></i> A propos</a>
      </li>

    </ul>
  </div>

  <!-- Teacher app logo -->
  <div class="mx-auto order-0">
    <a class="navbar-brand mx-auto font-weight-bolder"
       [routerLink]="['/home']">Kots App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target=".dual-collapse2">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>

  <!-- Left side of nav bar -->
  <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
    <ul class="navbar-nav ml-auto">

      <!-- Dashboard -->
      <li *ngIf="authService.currentUserValue"
          class="nav-item" [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{ exact: true }">
        <a class="nav-link" [routerLink]="['/dashboard']">Dashboard</a>
      </li>

      <!-- Groups -->
      <li *ngIf="authService.currentUserValue"
          class="nav-item" [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{ exact: true }">
        <a id="groupBtn" class="nav-link" [routerLink]="['/groups']">
          <i class="fa fa-sign-in"></i> Groupes</a>
      </li>

      <!-- Profile -->
      <li *ngIf="authService.currentUserValue"
        class="nav-item" [routerLinkActive]="['active']"
           [routerLinkActiveOptions]="{ exact: true }">
        <a id="profileBtn" class="nav-link" [routerLink]="['/profile']">
          <i class="fa fa-sign-in"></i> Profile</a>
      </li>

      <!-- Login -->
      <li *ngIf="!authService.currentUserValue"
          class="nav-item" [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{ exact: true }">
        <a id="loginBtn" class="nav-link" [routerLink]="['/login']">
          <i class="fa fa-sign-in"></i> Connexion</a>
      </li>

      <!-- Logout -->
      <li *ngIf="authService.currentUserValue" class="nav-item">
        <a id="logoutBtns" class="nav-link"
           data-toggle="modal" data-target="#deleteModel"
        style="cursor: pointer">
          <i class="fa fa-sign-out"></i>Déconnexion</a>
      </li>
    </ul>
  </div>
</nav>

<!-- confirm logout modal  -->
<div class="modal fade" id="deleteModel" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">

      <!-- confirm logout modal header -->
      <div class="modal-header">
        <h5 class="modal-title text-monospace font-italic font-weight-bolder"
            id="exampleModalLongTitle">Se déconnecter de KotsApp</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <!-- confirm logout modal body -->
      <div class="modal-body">
        <h5 class="modal-title text-monospace font-italic" style="text-align: center">
          <strong>Voulez-vous vraiment</strong></h5>
        <br>
        <p class="text-monospace font-italic" style="text-align: center">
          Vous déconnecter de ce compte KotsApp ?</p>
      </div>

      <!-- confirm logout modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary text-monospace
        font-italic font-weight-bolder" data-dismiss="modal">Annuler
        </button>
        <button (click)="onLogOutClick()" type="button" data-dismiss="modal"
                class="btn btn-danger text-monospace
                font-italic font-weight-bolder">Déconnexion
        </button>
      </div>
    </div>
  </div>
</div>
