<!-- Button trigger modal -->
<button class="btn btn-outline-info text-center text-monospace font-italic font-weight-bolder"
        data-toggle="modal" data-target="#barCodeModal" type="button" >
    Bar-Code
</button>

<!-- Modal -->
<div class="modal fade" id="barCodeModal" tabindex="-1" role="dialog" aria-labelledby="barCodeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-monospace font-weight-bolder font-italic" id="barCodeModalLabel">
                  Connecte ton groupe !
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body d-flex flex-row flex-wrap justify-content-center">
                <p class="text-monospace font-weight-bolder font-italic">Scanne ce code-barre avec ton scanner afin d'y lier ce groupe!</p>
            </div>
            <div class="modal-body d-flex flex-row flex-wrap justify-content-center">
                <img id="barcode"  alt=""/>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger text-monospace font-weight-bolder font-italic"
                        data-dismiss="modal" type="button" >Fermer</button>
            </div>
        </div>
    </div>
</div>
