/*
*
* ==========================================
* FOR DEMO PURPOSE
* ==========================================
*
*/

body {
  background: #eecda3;
  background: -webkit-linear-gradient(to right, #eecda3, #ef629f);
  background: linear-gradient(to right, #eecda3, #ef629f);
  min-height: 100vh;
}

h1{
  margin-bottom: 5%;
}

.margin_bottom{
  margin-bottom: 1%;
}


.modal.fade:not(.show).top-right-3d .modal-dialog {
  transform: translate3d(25%, -25%, 0);
}
