<div class="main container">
    <h1 class="font-weight-bolder">A PROPOS</h1>
    <p class="container text-justify text-center">
        ce projet d'integration a pour but de facilité la vie en communauté dans un kot en proposant 
        un service de gestion à celui-ci qui permet de gérer les courses importantes du kot.
    </p>

    <p class="container text-justify text-center">
        Testing angular build on heroku, consectetur adipiscing elit. Aenean varius molestie pulvinar. Ut luctus, eros ut
        bibendum
        sollicitudin, justo lacus consequat dolor, et fringilla erat arcu in neque. Cras ornare varius mi id eleifend. Donec
        non consequat est.
    
        Vivamus nec dolor suscipit est dictum aliquam non at libero. In pretium tellus quam, eu tristique ex convallis ac.
        Duis at turpis a quam finibus faucibus vitae at risus.
    
      </p>
</div>
